html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    overflow-x: hidden;
}

:root {
    --hero-section-color: linear-gradient(0deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.50) 100%), linear-gradient(219deg, rgba(255, 229, 188, 0.95) 0.07%, rgba(255, 255, 255, 0.95) 57.07%, rgba(246, 246, 246, 0.95) 121.58%);
    --primary: #FD9340;
    --text: #333;
    --white: #FFF;
}

@font-face {
    font-family: nunito;
    src: url('../assets/fonts/nunito/regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: nunito;
    src: url('../assets/fonts/nunito/semi-bold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: nunito;
    src: url('../assets/fonts/nunito/bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: inter;
    src: url('../assets/fonts/inter/regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: inter;
    src: url('../assets/fonts/inter/semi-bold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: inter;
    src: url('../assets/fonts/inter/bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: inter;
    src: url('../assets/fonts/inter/extra-bold.ttf');
    font-weight: 800;
}

@font-face {
    font-family: outfit;
    src: url('../assets/fonts/outfit/Outfit-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: outfit;
    src: url('../assets/fonts/outfit/Outfit-SemiBold.ttf');
    font-weight: 600;
}


.primary-btn {
    padding: 16px 24px;
    border-radius: 8px;
    background: var(--primary);
    border: none;
    color: var(--white);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-family: nunito;
}

.secondary-btn {
    font-family: nunito;
    padding: 16px 24px;
    border-radius: 8px;
    border: 1px solid var(--primary);
    color: var(--primary) !important;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background-color: transparent;
}

@media (max-width: 575px) {
    .primary-btn, .secondary-btn {
        padding: 16px;
        font-size: 14px;
    }
}

button {
    outline: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: var(--text);
}

section {
    position: relative;
}

.section-title {
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.72px;
    text-transform: uppercase;
}